<mat-toolbar class="navbar">
  <img routerLink="/" src="\assets\logo.svg" alt="" class="logo" />
  <span class="tittle">ReleeloApp</span>
  <span class="spacer"></span>
  <div *ngIf="!session">
    <button mat-button class="logbutton" routerLink="/signin">Iniciar Sesion</button>
    <button mat-button class="regbutton" routerLink="/signup">Registarse</button>
  </div>
  <div  class="user" *ngIf="session">
    <h3>{{ session.user.email }}</h3>
    <button mat-button class="logoutbut" (click)="signOut()">
      <mat-icon fontIcon="logout"></mat-icon>
    </button>
  </div>
</mat-toolbar>
