<app-navbar></app-navbar>
<div class="signup">
  <div class="container">
    <h1 class="tittle" mat-dialog-title>Registrarse</h1>
    <div mat-dialog-content>
      <form [formGroup]="formGroup">
        <label for="email">Email</label>
        <input name="email" formControlName="email" type="text" />
        <label for="password">Password</label>
        <input name="password" formControlName="password" type="password" />
      </form>
    </div>
    <div class="but-container">
      <button mat-button class="button" (click)="signUp()">Registrarse</button>
      <p>Ya tienes una cuenta? <a routerLink="/signin">Iniciar sesión</a></p>
    </div>
  </div>
</div>
