/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}
:root {
  --main-color: #263238;
}

  body {
  margin: 0;
  --soft-gray: #f0f0f0;
  --main-color: #1d1d1e;
  --main-font: "Helvetica Neue", sans-serif;
}
